/* Navbar Styling */

#navbar {
  background-color: transparent;
}
#navbar .navbar-brand {
  color: white;
}
#navbar .nav-link {
  transition: none;
  color: white;
  font-family: "Fira Sans", sans-serif;
}
#navbar .nav-link:hover {
  color: rgb(255, 115, 0);
}
#navbar .nav-link:active {
  color: rgb(251, 255, 11);
}
/* Navbar Styled */

#myslideshow img {
  height: 800px;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
  font-family: "Oswald", sans-serif;
}
