/* Navbar Styling */

#navbar {
  background-color: black;
}
#navbar .navbar-brand {
  color: white;
}
#navbar .nav-link {
  transition: none;
  color: white;
  font-family: "Fira Sans", sans-serif;
}
#navbar .nav-link:hover {
  color: rgb(255, 115, 0);
}
#navbar .nav-link:active {
  color: rgb(251, 255, 11);
}
/* Navbar Styled */

/* slides styling  */
#myslideshow img {
  height: 800px;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
  font-family: "Oswald", sans-serif;
}
/* slides styled */

/*  About section*/

#about-section {
  background-color: black;
  height: 530px;
  position: absolute;
  width: 100%;
}

#about {
  font-size: 26px;
  color: #cacbbf;
}
#aboutus {
  margin-top: 70px;
  height: 307px;
}

#about-name {
  font-size: 35px;
  display: block;
}

.about-info {
  color: white;
  font-family: "Oswald", sans-serif;
  margin-top: 257px;
}
#col1 {
  margin-left: 43px;
}
#col2 {
  margin-right: 43px;
}
#infop {
  padding: 8px;
  font-size: 23px;
  animation-name: para;
}
/* About Section styled */

/* Responsive media */
@media screen and (min-width: 360px) {
  .about-info {
    margin-top: 60px;
    margin-left: 40px;
  }
}
